#map {
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  display: flex;
  position: absolute;
  top: 10px;
  left: 35%;
  z-index: 5;
  text-align: center;
}
.group {
  border: 1px solid #999;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 25px;
  background-color: white;
  font-family: 'Roboto','sans-serif';
  font-size: small;
}

#radiusNum, #intensityNum, #opacityNum {
  font-weight: 800;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  cursor: pointer;
  color: #4c3b4d;
  border: 1px solid #4c3b4d;
  border-radius: 5px;
  padding: 10px 20px;
  outline: 1px dotted black;
  background-color: #4f5165;
  font-weight: 500;
  color: white;
}

button:focus {
  outline: 0;
}